openapi: 3.2.0
info:
  title: Olark JavaScript Configure API
  description: 'Olark exposes a browser-side JavaScript API for embedding and controlling

    the Olark live-chat widget.'
  version: 1.0.0
  contact:
    name: Olark
    url: https://www.olark.com/api
servers:
- url: https://www.olark.com/api
  description: Olark JavaScript API documentation host (logical base for this spec)
security:
- OlarkSiteId: []
tags:
- name: Configure
  description: Pre-load configuration
paths:
  /configure:
    post:
      tags:
      - Configure
      summary: olark.configure(key, value)
      description: 'Sets a chatbox configuration value before the widget initializes.

        Example: `olark.configure(''system.hb_position'', ''left'');`.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - value
              properties:
                key:
                  type: string
                value: {}
      responses:
        '200':
          description: Configuration applied (client-side)
      operationId: postConfigure
      x-operation-id-source: derived
  /identify:
    post:
      tags:
      - Configure
      summary: olark.identify(siteId)
      description: 'Initializes the Olark chatbox with the supplied site identifier.

        Example: `olark.identify(''1234-456-78-9810'');`.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - siteId
              properties:
                siteId:
                  type: string
      responses:
        '200':
          description: Identified (client-side)
      operationId: postIdentify
      x-operation-id-source: derived
components:
  securitySchemes:
    OlarkSiteId:
      type: apiKey
      in: query
      name: site_id
      description: 'Olark identifies an installation via a public site identifier

        (e.g. `1234-456-78-9810`) passed client-side to `olark.identify()`.

        It is not a secret and is included here only to make the

        identification mechanism explicit in the OpenAPI contract.

        '
