openapi: 3.2.0
info:
  title: Olark JavaScript Chat API
  description: 'Olark exposes a browser-side JavaScript API for embedding and controlling

    the Olark live-chat widget.'
  version: 1.0.0
  contact:
    name: Olark
    url: https://www.olark.com/api
servers:
- url: https://www.olark.com/api
  description: Olark JavaScript API documentation host (logical base for this spec)
security:
- OlarkSiteId: []
tags:
- name: Chat
  description: Chat conversation and operator control
paths:
  /chat/sendMessageToVisitor:
    post:
      tags:
      - Chat
      summary: api.chat.sendMessageToVisitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
      responses:
        '200':
          description: Message dispatched to visitor
      operationId: postChatSendMessageToVisitor
      x-operation-id-source: derived
  /chat/setOperatorGroup:
    post:
      tags:
      - Chat
      summary: api.chat.setOperatorGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group:
                  type: string
      responses:
        '200':
          description: Operator group set
      operationId: postChatSetOperatorGroup
      x-operation-id-source: derived
  /chat/onBeginConversation:
    post:
      tags:
      - Chat
      summary: api.chat.onBeginConversation (event subscription)
      responses:
        '200':
          description: Callback registered
      operationId: postChatOnBeginConversation
      x-operation-id-source: derived
components:
  securitySchemes:
    OlarkSiteId:
      type: apiKey
      in: query
      name: site_id
      description: 'Olark identifies an installation via a public site identifier

        (e.g. `1234-456-78-9810`) passed client-side to `olark.identify()`.

        It is not a secret and is included here only to make the

        identification mechanism explicit in the OpenAPI contract.

        '
