openapi: 3.2.0
info:
  title: Olark JavaScript Box API
  description: 'Olark exposes a browser-side JavaScript API for embedding and controlling

    the Olark live-chat widget.'
  version: 1.0.0
  contact:
    name: Olark
    url: https://www.olark.com/api
servers:
- url: https://www.olark.com/api
  description: Olark JavaScript API documentation host (logical base for this spec)
security:
- OlarkSiteId: []
tags:
- name: Box
  description: Chatbox visibility and lifecycle
paths:
  /box/show:
    post:
      tags:
      - Box
      summary: api.box.show
      responses:
        '200':
          description: Chatbox shown
      operationId: postBoxShow
      x-operation-id-source: derived
  /box/hide:
    post:
      tags:
      - Box
      summary: api.box.hide
      responses:
        '200':
          description: Chatbox hidden
      operationId: postBoxHide
      x-operation-id-source: derived
  /box/expand:
    post:
      tags:
      - Box
      summary: api.box.expand
      responses:
        '200':
          description: Chatbox expanded
      operationId: postBoxExpand
      x-operation-id-source: derived
  /box/shrink:
    post:
      tags:
      - Box
      summary: api.box.shrink
      responses:
        '200':
          description: Chatbox shrunk
      operationId: postBoxShrink
      x-operation-id-source: derived
  /box/setLocale:
    post:
      tags:
      - Box
      summary: api.box.setLocale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                locale:
                  type: string
      responses:
        '200':
          description: Locale applied
      operationId: postBoxSetLocale
      x-operation-id-source: derived
components:
  securitySchemes:
    OlarkSiteId:
      type: apiKey
      in: query
      name: site_id
      description: 'Olark identifies an installation via a public site identifier

        (e.g. `1234-456-78-9810`) passed client-side to `olark.identify()`.

        It is not a secret and is included here only to make the

        identification mechanism explicit in the OpenAPI contract.

        '
